{% trans_default_domain 'FOSUserBundle' %}


<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html">Register <b>LWeb</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </div>
        {{ form_end(form) }}



        <a href="{{ path('fos_user_security_login') }}" class="text-center">I have an account</a>

    </div>
    <!-- /.login-box-body -->
</div>