<div class="pull-left image">
    <img src="https://ctvalleybrewing.com/wp-content/uploads/2017/04/avatar-placeholder.png" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
    <p>{{ app.user.username }}</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>