<div class="pull-left image">
    <img src="{{ imgPath }}" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
    <p>{{ fullName }}</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>